<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- NOTE: THIS FILE IS NOT TO BE USED IN A PUBLIC CI TOOL! See public-settings.xml -->

    <servers>
        <server>
            <id>Nexus</id>
            <username>deployment</username>
            <password>[replace with password]</password>
        </server>
        <server>
            <id>nexus-public-snapshots</id>
            <username>deployment</username>
            <password>[replace with password]</password>
        </server>
        <server>
            <id>releases</id>
            <username>deployment</username>
            <password>[replace with password]</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>deployment</username>
            <password>[replace with password]</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>Nexus</id>
            <name>Nexus Public Mirror</name>
            <url>https://nexus.in.ft.com/repository/public/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>